.proof-block .video-block:after,
.proof-block .video-holder:after {
	content: " ";
	display: block;
	clear: both;
}



#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



html {
	box-sizing: border-box;
}



*,
*:before,
*:after {
	box-sizing: inherit;
}



body {
	margin: 0;
	color: #000;
	background: #fff;
	font: 40px/1.25 "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}



* {
	max-height: 1000000px;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}



img {
	border-style: none;
	max-width: 100%;
	height: auto;
}



a {
	text-decoration: none;
	color: #369;
}



a:hover {
	opacity: .7;
}



input,
textarea,
select {
	font: 100% "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	color: #ccc;
	vertical-align: middle;
}



form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}



button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}



button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}



input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #ff7a7a;
}



input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #e00000;
}



textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}



input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}



input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}



p {
	margin: 0 0 1.2em;
}



q {
	quotes: none;
}



q:before,
q:after {
	content: "";
	content: none;
}



sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}



sup {
	top: -.5em;
}



sub {
	bottom: -.25em;
}



table {
	border-collapse: collapse;
	border-spacing: 0;
}



.gm-style img {
	max-width: none;
}



@font-face {
	font-family: "univers_condensedbold";
	src: url("../fonts/univers_condensed_bold_copy-webfont.eot");
	src: url("../fonts/univers_condensed_bold_copy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/univers_condensed_bold_copy-webfont.woff") format("woff"), url("../fonts/univers_condensed_bold_copy-webfont.ttf") format("truetype"), url("../fonts/univers_condensed_bold_copy-webfont.svg#univers_condensedbold") format("svg");
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: "universbold";
	src: url("../fonts/univers_bold_copy-webfont.eot");
	src: url("../fonts/univers_bold_copy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/univers_bold_copy-webfont.woff2") format("woff2"), url("../fonts/univers_bold_copy-webfont.woff") format("woff"), url("../fonts/univers_bold_copy-webfont.ttf") format("truetype"), url("../fonts/univers_bold_copy-webfont.svg#universbold") format("svg");
	font-weight: normal;
	font-style: normal;
}



body {
	background: #efd899 url(../images/bg2.jpg);
}


img {
	vertical-align: top;
}



#wrapper {
	width: 1061px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding: 26px 0 0;
}



.w1 {
	background: #e2dfc2;
	width: 897px;
	margin: 0 auto 7px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	border-radius: 38px;
	padding: 9px;
}



.w1.inner {
	margin-top: -1px;
}



#header {
	background: #000;
	border-radius: 34px 34px 0 0;
}



#header .image-holder {
	position: absolute;
	top: 0;
	right: 0;
}



.header-top {
	background: #f33;
	border-top: 1px solid #b69d85;
	border-radius: 32px 0 0;
	padding: 19px 0 0;
}



.main-header {
	position: relative;
	z-index: 4;
	padding: 19px 46px 4px;
}



.main-header:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background: #000;
	z-index: -1;
	bottom: 0;
	right: 0;
}



.main-header .img-wrap {
	position: absolute;
	top: -105px;
	right: -123px;
	z-index: 2;
}



.main-header h1 {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 3;
	width: 659px;
}



#main {
	background: #fff;
	box-shadow: 0 0 24px rgba(102, 51, 0, .9) inset;
	border-radius: 0 0 32px 32px;
	padding: 15px 0 42px;
	margin: -15px 0 0;
}



#main .text-block {
	font-size: 40px;
	line-height: 36px;
	color: #f00;
	padding: 24px 10px;
	text-align: center;
	max-width: 760px;
	margin: 0 auto 28px;
}



#main .text-block p {
	margin: 0;
}



#main .text {
	display: block;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #f00;
	max-width: 700px;
	margin: 0 auto 20px;
	padding: 0 10px;
	text-align: center;
}



#main .started {
	padding: 16px 10px 20px;
	text-align: center;
	background: rgba(255, 183, 0, .5);
}



#main .started a {
	color: #369;
	text-decoration: underline;
	text-transform: capitalize;
	display: inline-block;
	vertical-align: top;
	font-size: 50px;
	line-height: 52px;
	font-weight: bold;
}



#main .started a:hover {
	text-decoration: none;
	opacity: 1;
}



.inner .header-top {
	padding-bottom: 1px;
}



.inner .main-header {
	padding-bottom: 4px;
}



.inner #main {
	padding-bottom: 33px;
}



.inner #main .text-block {
	padding: 19px 10px;
	margin-bottom: 33px;
}



.inner #main .text {
	text-align: left;
	padding: 0 0 0 105px;
	font-size: 33px;
	line-height: 33px;
	margin-bottom: 20px;
}



.inner .proof-block {
	padding: 0 31px 31px;
	border-color: #b7c9db;
}



.inner .proof-block .title {
	background: #369;
	box-shadow: 6px 0 2px rgba(85, 127, 170, .9) inset, 0 -6px 2px rgba(32, 63, 110, .9) inset, 0 6px 2px rgba(85, 127, 170, .9) inset, -6px 0 2px rgba(32, 63, 110, .9) inset;
	border: none;
	padding: 4px 15px 5px;
	margin-top: -31px;
}



.inner .proof-block .circle-block-holder {
	margin: 12px 7px 0 0;
	background: url(../images/circle.png);
}



.inner .proof-block .circle-block-holder:before {
	background: url(../images/arrow.png);
	width: 124px;
	height: 334px;
	right: auto;
	left: -66px;
	bottom: -191px;
}



.inner .proof-block .circle-block {
	padding: 42px 10px;
	height: 167px;
}



.inner .proof-block .circle-block span {
	color: #ff0;
	display: block;
	text-transform: uppercase;
	padding: 6px 0 0;
}



.inner .proof-block .circle-block .click-here {
	font-size: 49px;
	line-height: 51px;
	letter-spacing: -2px;
	margin: 0 0 -4px;
	text-transform: uppercase;
}



.inner .proof-block .image-holder {
	margin-top: -8px;
}



.inner .proof-block .image-holder a {
	display: block;
}



.inner .proof-block .image-holder img {
	margin-bottom: -8px;
}



.inner .proof-block .image-holder .play {
	margin-top: -37px;
}



.mail-form {
	max-width: 650px;
	margin: 0 auto 22px;
}



.mail-form label {
	font-size: 30px;
	line-height: 32px;
	text-transform: capitalize;
	color: #666;
	display: inline-block;
	vertical-align: middle;
	width: 168px;
	font-weight: bold;
}



.mail-form .row {
	margin-bottom: 5px;
}



.mail-form .row.error input[type="text"],
.mail-form .row.error input[type="email"] {
	background: #f00;
}



.mail-form input[type="text"],
.mail-form input[type="email"] {
	height: 53px;
	background: #ffc;
	border-color: #ff7a7a;
	outline: none;
	box-shadow: none;
	font-size: 30px;
	line-height: 32px;
	color: #ccc;
	width: 466px;
	display: inline-block;
	vertical-align: middle;
	padding: 4px 15px;
}



.mail-form input[type="text"]::-webkit-input-placeholder,
.mail-form input[type="email"]::-webkit-input-placeholder {
	color: #ccc;
}



.mail-form input[type="text"]::-moz-placeholder,
.mail-form input[type="email"]::-moz-placeholder {
	opacity: 1;
	color: #ccc;
}



.mail-form input[type="text"]:-moz-placeholder,
.mail-form input[type="email"]:-moz-placeholder {
	color: #ccc;
}



.mail-form input[type="text"]:-ms-input-placeholder,
.mail-form input[type="email"]:-ms-input-placeholder {
	color: #ccc;
}



.mail-form input[type="text"].placeholder,
.mail-form input[type="email"].placeholder {
	color: #ccc;
}



.mail-form .submit-wrap {
	width: 575px;
	margin: 0 auto 3px;
	padding: 21px 0 0;
}



.mail-form input[type="submit"] {
	border: 6px solid #ff704c;
	background: #f73900;
	font: 63px/65px "univers_condensedbold", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	color: #fff;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 10px 10px;
	border-radius: 60px;
	width: 100%;
	outline: none;
}



.mail-form input[type="submit"]:hover {
	background: #fe4b28 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlNGIyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWE5MDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top, #fe4b28 0%, #fea907 100%);
	text-shadow: 4px 4px 2px rgba(160, 11, 2, .9);
	box-shadow: none;
}



.secure-block {
	position: relative;
	max-width: 302px;
	margin: 0 auto;
	border: 1px solid #d6d6d6;
	z-index: 1;
	border-radius: 16px;
}



.secure-block:before,
.secure-block:after {
	content: "";
	position: absolute;
	top: -16px;
	left: 50%;
	border-radius: 50%;
	border: 1px solid #d6d6d6;
	height: 50px;
	width: 56px;
	margin: 0 0 0 -25px;
	z-index: -1;
}



.secure-block:after {
	bottom: -14px;
	top: auto;
	height: 47px;
}



.secure-block .txt {
	background: #fff;
	height: 28px;
	border-radius: 16px;
	padding: 5px 10px;
}



.secure-block .txt span {
	float: left;
	font-size: 16px;
	line-height: 18px;
	color: #666;
	text-transform: uppercase;
}



.secure-block .txt span + span {
	float: right;
}



.secure-block .overlay {
	background: #fff;
	width: 49px;
	height: 30px;
	position: absolute;
	top: -1px;
	left: 50%;
	margin: 0 0 0 -21px;
}



.secure-block .overlay:before {
	content: "";
	position: absolute;
	top: -4px;
	left: 50%;
	background: url(../images/ico1.png) no-repeat;
	width: 48px;
	height: 41px;
	margin: 0 0 0 -25px;
}



.proof-block {
	border: 5px solid #ebebeb;
	background: #f3f3f3;
	width: 678px;
	margin: 0 auto 15px;
	border-radius: 30px;
	text-align: center;
	padding: 0 21px 29px;
}



.proof-block .video-block {
	display: block;
	margin: -8px 0 0;
}



.proof-block .video-block .image-holder img {
	margin: 0 0 -11px;
}



.proof-block .video-block .image-holder .play:before {
	-webkit-animation: blink .5s infinite;
	animation: blink .5s infinite;
}



.proof-block .video-block .image-holder span {
	display: block;
}



.proof-block .video-holder {
	position: relative;
}



.proof-block .title {
	display: inline-block;
	vertical-align: top;
	border-width: 0 5px 5px 5px;
	border-color: #2f5881;
	border-style: solid;
	background: #335c85;
	border-radius: 30px;
	text-shadow: -3px -1px 2px rgba(0, 0, 0, .7);
	color: #fff;
	padding: 4px 10px 0;
	margin: -33px 0 14px;
	width: 560px;
	text-transform: uppercase;
}



.proof-block .circle-block-holder {
	background: url(../images/sprite.png) no-repeat;
	width: 209px;
	height: 209px;
	position: relative;
	margin: 20px 21px 0 0;
	float: left;
	z-index: 1;
}



.proof-block .circle-block-holder:before {
	content: "";
	position: absolute;
	bottom: -42px;
	right: -121px;
	background: url(../images/sprite.png) no-repeat 0 -249px;
	width: 256px;
	height: 106px;
}



.proof-block .circle-block {
	font: 26px/24px "univers_condensedbold", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
	padding: 43px 6px;
	overflow: hidden;
	height: 165px;
}



.proof-block .circle-block .click-here {
	font-size: 45px;
	line-height: 47px;
	color: #ff0;
	text-transform: capitalize;
	display: block;
	letter-spacing: -3px;
}



.proof-block .circle-block p {
	margin: 0;
}



.proof-block .image-holder {
	position: relative;
	float: left;
	width: 385px;
}



.proof-block .image-holder .play {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 101px;
	height: 75px;
	z-index: 1;
	margin: -35px 0 0 -44px;
}



.proof-block .image-holder .play:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 7px;
	content: "";
	background: rgba(255, 204, 0, .8);
	right: 10px;
	bottom: 7px;
	z-index: -1;
}



.proof-block .image-holder .play .overlay {
	position: absolute;
	top: 4px;
	left: 0;
	background: url(../images/sprite.png) -320px -233px;
	width: 101px;
	height: 78px;
}



.hover-tooltip {
	padding: 15px 0 0;
}



.tooltip-text {
	border: 3px solid #fdc941;
	background: #ffe295;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	padding: 5px 10px;
	position: relative;
	z-index: 99;
	white-space: nowrap;
}



.tooltip-text:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin: -15px 0 0 -3px;
	border-style: solid;
	border-width: 0 5px 12px 5px;
	border-color: transparent transparent #fdc841 transparent;
}



#footer {
	width: 897px;
	margin: 0 auto;
	padding: 0 10px;
}



#footer ul {
	text-align: center;
}



#footer ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 18px;
	position: relative;
	color: #333;
	letter-spacing: .5px;
}



#footer ul li + li {
	margin: 0 0 0 14px;
}



#footer ul li + li:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -13px;
	background: #333;
	width: 1px;
	height: 11px;
}



#footer ul a {
	color: #333;
}



#footer ul a:hover {
	text-decoration: underline;
	opacity: 1;
}



@media only screen and (min-width: 1025px) {
	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}



@-webkit-keyframes blink {
	from {
		opacity: 0;
	}



	to {
		opacity: 1;
	}
}



@keyframes blink {
	from {
		opacity: 0;
	}



	to {
		opacity: 1;
	}
}


